.wrapper {
    position: absolute;
    margin-top: -50px;
    width: 100%;
    padding: 0 40px;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        position: relative;
        box-shadow: 0px 3px 20px 8px rgb(91 39 138 / 12%);
        border-radius: 80px;
        .location {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 0 24px;
            gap: 12px;
            border-top-left-radius: 70px;
            border-bottom-left-radius: 70px;
            flex-grow: 1;
            min-width: 180px;
            height: 100px;
            background-color: var(--secondary-300);
            .searchIcon {
                height: 35px;
                width: 35px;
                color: var(--secondary);
            }
            input {
                color: var(--secondary);
                box-sizing: border-box;
                border: none;
                padding: 0 40px 0 0;
                font-size: 18px;
                width: 100%;
                height: 100px;
                border-top-left-radius: 70px;
                border-bottom-left-radius: 70px;
                background-color: transparent;
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: var(--secondary);
                    font-weight: 700;
                    opacity: 1; /* Firefox */
                }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: var(--secondary);
                    font-weight: 700;
                }
                  
                &::-ms-input-placeholder { /* Microsoft Edge */
                    color: var(--secondary);
                    font-weight: 700;
                }
                &:focus {
                    outline: none;
                }
            }
            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 100%;
                border-left: 30px solid var(--secondary-300);
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
            }
        }
        button {
            background-color: white;
            font-weight: 700;
            flex-grow: 1;
            min-width: 140px;
            border: none;
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-out;
            cursor: pointer;
            &:hover {
                background-color: var(--secondary);
                span {
                    color: white;
                }
                img {
                    filter: brightness(0) invert(1);
                }
            }
            span {
                font-size: 18px;
                margin-top: 10px;
                color: var(--secondary);
            }
            .imgCat {
                transform: scaleX(-1);
            }
            &:not(:last-child) {
                border-right: 1px solid var(--secondary);
            }
            &:last-child {
                border-top-right-radius: 70px;
                border-bottom-right-radius: 70px;
            }
        }
    }
}