.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-300);
        // .images {
            // display: flex;
            // gap: 16px;
            .imageMain {
                position: relative;
                flex-grow: 1;
                // width: 100%;
                // height: 632px;
                border-radius: 12px;
                img {
                    // width: 100%;
                    border-radius: 12px;
                }
            }
            .imagesList {
                padding-bottom: 12px;
                // width: 200px;
                // flex-shrink: 0;
                // position: relative;
                // display: flex;
                // flex-direction: column;
                // gap: 16px;
                div {
                    // height: 200px;
                    position: relative;
                    img {
                        border-radius: 12px;
                    }
                }
            }
        // }
        .info {
            margin: 20px 0;
            padding: 30px;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 1px 3px rgb(77 71 81 / 20%);
            h1 {
                text-transform: capitalize;
                font-size: 40px;
                font-weight: 500;
                margin: 0 0 8px;
            }
            h2 {
                font-size: 28px;
                margin: 0 0 16px;
                font-weight: 500;
            }
            .breed {
                opacity: .65;
                font-size: 18px;
            }
            p {
                line-height: 1.5;
            }
        }
}