html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 90px 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hr {
  display: block;
  border: 0;
  border-bottom: 1px solid #d2d1d3;
}

.opac {
  opacity: .7;
}

:root {
  --primary: #5e192b;
  --primary-600:#A46F8A;
  --primary-300: #F5E7EE;
  --secondary: #4e1c7a;
  --secondary-600: #853dc3;
  --secondary-300: #e8e9f2;
}